.container {
  all: unset;
  width: 100%;
  background-color: #f2f2f2;

  display: flex;
  flex-direction: row;

  border-radius: 0.5rem;
}

.text {
  --padding-left-right: 2vw;
  --padding-top-bottom: 4vh;

  padding: var(--padding-top-bottom) var(--padding-left-right)
    var(--padding-top-bottom) var(--padding-left-right);
  font-size: 2vh;
}

.text > span {
  font-weight: bold;
  text-transform: uppercase;
}

.banner {
  --unselected-width: 1rem;
  --hover-width: 1.5rem;
  --selected-width: 2rem;

  flex: 0 0 var(--unselected-width);
  background-color: #285ba8;

  transition: flex-basis 200ms;
}

.container:hover {
  cursor: pointer;

  .banner {
    flex: 0 0 var(--hover-width);
  }
}

.container:active {
  .banner {
    flex: 0 0 var(--selected-width);
  }
}

@media (max-width: 600px) {
  .banner {
    --unselected-width: 0.7rem;
    --hover-width: 1rem;
    --selected-width: 1.3rem;
  }

  .text {
    --padding-left-right: 5vw;
  }
}
