.container {
    width: 100%;
    background-color: #F2F2F2;

    display: flex;
    flex-direction: row;

    border-radius: 0.5rem;
}

.text {
    padding: 1.5rem;
}

.text > span {
    font-weight: bold;
    text-transform: uppercase;
}

.banner {
    flex-basis: 1rem;
    background-color: #285BA8;

    transition: flex-basis 200ms;
}

.container:hover {
    .banner {
        flex-basis: 1.5rem;
    }
}

.container:active {
    .banner {
        flex-basis: 2rem;
    }
}