.container {
  padding-top: 10vh;
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
  background-color: #1e457f;
  box-shadow: 0 0 5px -1px black;
  color: white;
}

.headerSeperator {
  flex-basis: 2vh;
  background-color: #4b729b;
  width: 100%;
}

.logoContainer {
  width: 60vw;
  line-height: 1vh;
}

.logoContainer > h1 {
  font-size: 4vh;
  font-weight: 350;
}

.logoContainer > h2 {
  font-size: 3vh;
  font-weight: 100;
}

.logoSeperator {
  width: 80%;
  height: 1px;
  background-color: white;
}

@media (max-width: 600px) {
  .logoContainer {
    width: calc(90vw - 1rem);
  }    
}