.headerContainer {
    --margin-left-right: 15vw;
    margin-right: var(--margin-left-right);
    margin-left: var(--margin-left-right);
}

.searchToolContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5vh;
}

@media (max-width: 600px) {
    .headerContainer {
        --margin-left-right: 0vw;
    }    
}